header {
    margin: 0 auto;
      padding: var(--space-4) var(--size-gutter);
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid $dark;
      .header-link {
        font-size: var(--font-lg);
        text-decoration: none;
        font-family: 'Inter-bold', sans-serif;
      }
}

