@font-face {
    font-family: 'Inter-extra-light';
    font-style:  normal;
    font-weight: 200;
    font-display: swap;
    src: url("/fonts/InterWeb/Inter-ExtraLight.woff2") format("woff2"),
         url('/fonts/InterWeb/Inter-ExtraLight.woff') format("woff");
  }
  @font-face {
    font-family: 'Inter-regular';
    font-style:  normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/InterWeb/Inter-Regular.woff2') format("woff2"),
         url('/fonts/InterWeb/Inter-Regular.woff') format("woff");
  }

  @font-face {
    font-family: 'Inter-bold';
    font-style:  normal;
    font-weight: 700;
    font-display: swap;
    src: url('/fonts/InterWeb/Inter-Bold.woff2') format("woff2"),
         url('/fonts/InterWeb/Inter-Bold.woff') format("woff");
  }

  @font-face {
    font-family: 'Inter-black';
    font-style:  normal;
    font-weight: 900;
    font-display: swap;
    src: url('/fonts/InterWeb/Inter-Black.woff2') format("woff2"),
         url('/fonts/InterWeb/Inter-Black.woff') format("woff");
  }